<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur C. Clarke</title>
</head>
<body>
    <h1>Arthur C. Clarke</h1>
    <img width="50%" src="/img/Arthur_C._Clarke.jpg" alt="Imagen Arthur C. Clarke">
    <p>Arthur Charles Clarke (Minehead, Inglaterra; 16 de diciembre de 1917 - Colombo, Sri Lanka; 19 de marzo de 2008), más conocido como Arthur C. Clarke, fue un escritor y científico británico. Autor de obras de divulgación científica y de ciencia ficción, como la novela 2001: Una odisea del espacio, El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del espacio.</p>
    <hr>
    <a href="/">Volver al index</a>
</body>
</html>